{% extends "person.html" %} 

{% block title %}Instructor{% endblock %} 

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename = 'instructor.css') }}">
{% endblock %}

{% block person_name %}{{ instructor_name }}{% endblock %}

{% block inner_nav_links %}
    <button class="inner-nav-link active-link">Your Courses</button>
{% endblock %}

<!------------------------------------Testing output for the instructor view---------------------------------------------->
<!-- {% block table_headings %}
    <th>Name</th>
    <th>Instructor</th>
    <th>Time</th>
    <th>Students Enrolled</th>
{% endblock %}

{% block rows %} 
    {% for class in data %}
        <tr class="data-table-row">
            <td>{{ class.name }}</td>
            <td>{{ class.instructor }}</td>
            <td>{{ class.time }}</td>
            <td>{{ class.enrollment }}</td>
        </tr>
    {% endfor %}
{% endblock %}  -->